form {
	display: flex;
	flex-direction: column;
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	gap: 1rem;
	.input-grp {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		&:hover {
			input {
				border-color: var(--primary);
			}
		}

		input,
		select {
			padding: 0.8rem;
			border: 1px solid var(--primary-dark);
			width: 100%;
			border-radius: var(--radius);
			transition: all 0.2s ease-in-out;
		}
	}
	button {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		background: #93ad18;
		border-radius: 11px;
		padding: 0.8rem 1rem;
		color: black;
		display: inline-block;
		text-align: center;
	}
}

.datePicker {
	border-color: var(--primary-dark);
	font-size: 0.9rem;

	.react-datepicker__header {
		display: flex;
		background-color: var(--gray);
		flex-direction: column;
		gap: 0.5rem;
		.react-datepicker__current-month {
			font-size: 1rem;
		}
	}
	.react-datepicker__navigation-icon::before {
		border-color: black;
	}
	.react-datepicker__day {
		&--selected {
			background-color: var(--primary);
		}
		&:hover {
			background-color: "#f0f4cd";
		}
	}
}
