main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	width: 18vw;
	padding: 1rem;
	gap: 1rem;
}
.input-group {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

#employee-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  }
