@import "./resetCss.scss";

:root {
	--primary: #93ad18;
	--primary-dark: #005249;
	--secondary: #6b733f;
	--gray: #eee;
	--radius: 5px;
	background-color: var(--gray);
	font-family: "Roboto", sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#modals	{
	position: absolute;
	top: 0;
	left: 0;
}
@mixin btn {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background: #93ad18;
	border-radius: 11px;
	padding: 0.8rem 1rem;
	color: black;
	display: inline-block;
	text-align: center;
  }

#root {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	main {
		max-width:100vw;
		background-color: #fff;
		border-radius: 50px 50px 0 0;
		padding: 10% 1rem;
	}
}
