header ~ div {
	border-radius: unset !important;
}
[role="cell"] {
	text-align: left;
}
.rdt_Table {
	.rdt_TableHeadRow {
		background-color: var(--secondary);
		font-size: 0.9rem;
		.rdt_TableCol_Sortable {
			min-width: fit-content;
		}
	}
	.rdt_TableBody {
		& > * {
			transition: all 0.1s;
			background-color: var(--gray);
			&:hover {
				background-color: var(--primary);
			}
		}
	}
}
