.menu-btn {
	background-color: #93ad18;
	border-radius: 11px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	width: 66%;
	@media (min-width: 500px) {
		align-self: flex-start;
		width: fit-content;
		padding: 0.5rem 1rem;
	}
}

#modal-content {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	padding: 2rem 0 0;

	button {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		background: #93ad18;
		border-radius: 11px;
		padding: 0.8rem 1rem;
		color: black;
		display: inline-block;
		text-align: center;
	}
}
